<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema ChatWeb</title>
    <!--Definição do local do .js pra aplicar na página-->
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</head>
<body>
    <h1>Sistema ChatWeb versão 1.1.0</h1>

    <!--Definição da inserção na tabela-->
    <h2>INSERT</h2>
    <form id="insertForm">
        <label for="insertTable">Tabela:</label>
        <input type="text" id="insertTable" name="table" required> <!--Tabela-->
        <label for="insertValues">Values (Não esquecer da vírgula (auto-crítica)):</label>
        <input type="text" id="insertValues" name="values" required> <!--Valores-->
        <button type="submit">INSERT</button>
    </form>

    <!--Definição da seleção na tabela-->
    <h2>SELECT</h2>
    <form id="selectForm">
        <label for="selectTable">Tabela:</label>
        <input type="text" id="selectTable" name="table" required> <!--Tabela-->
        <label for="selectColumns">Colunas (Não esquecer da vírgula (auto-crítica)):</label>
        <input type="text" id="selectColumns" name="columns" required> <!--Colunas desejadas do SELECT-->
        <label for="selectCondition">Condição:</label>
        <input type="text" id="selectCondition" name="condition"> <!--Condição WHERE do SELECT-->
        <button type="submit">SELECT</button>
    </form>

    <!--Definição da atualização na tabela-->
    <h2>UPDATE</h2>
    <form id="updateForm">
        <label for="updateTable">Tabela:</label>
        <input type="text" id="updateTable" name="table" required> <!--Tabela-->
        <label for="updateColumns">Colunas (Não esquecer da vírgula (auto-crítica)):</label>
        <input type="text" id="updateColumns" name="columns" required> <!--Colunas que são pra serem atualizadas no UPDATE-->
        <label for="updateValues">Values (Não esquecer da vírgula (auto-crítica)):</label>
        <input type="text" id="updateValues" name="values" required> <!--Valores que serão inseridos-->
        <label for="updateCondition">Condição:</label>
        <input type="text" id="updateCondition" name="condition" required> <!--Condição WHERE do UPDATE-->
        <button type="submit">UPDATE</button>
    </form>

    <!--Definição da exclusão na tabela-->
    <h2>DELETE</h2>
    <form id="deleteForm">
        <label for="deleteTable">Tabela:</label>
        <input type="text" id="deleteTable" name="table" required> <!--Tabela-->
        <label for="deleteCondition">Condição:</label>
        <input type="text" id="deleteCondition" name="condition" required> <!--Condição WHERE do DELETE-->
        <button type="submit">DELETE</button>
    </form>

    <div id="result"></div>
</body>
</html>